<div class="container">
    <div class="justify-content-md-center" style="padding-top: 5% !important;">
        <div class="card text-center">
          <div class="card-header">
            Bienvenido
          </div>
          <div class="card-body">
            <h4 class="card-title">Sistema para el registro de polizas SOAT</h4>
            <p class="card-text">Si desea ingresar al sistema registrate o inicia sesión</p>
            <a href="users/sign_in" class="btn btn-success btn-lg btn-block">Iniciar session</a>
            <a href="users/sign_up" class="btn btn-primary btn-lg btn-block">Registrate</a>
          </div>
          <div class="card-footer text-muted">
            Desarrollado por Yohan Ysturiz
          </div>
        </div>
    </div>
</div>